<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UPM Chatbot</title>
  <link rel="stylesheet" href="../static/css/style_chat.css">
  <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#chat-form').submit(function(e) {
                e.preventDefault();
                var userMessage = $('#user-message').val();
                
                // Send the message to the server using AJAX
                $.ajax({
                    type: 'POST',
                    url: '/chatbot',
                    data: { msg: userMessage },
                    success: function(response) {
                        var botText = response.botText;
                        var user = response.user;
                        
                        // Show the user message and the chatbot response
                        displayUserMessage(user, userMessage);
                        displayBotMessage(botText);

                        // Clear input field and focus on the recent messages
                        $('#user-message').val(''); 
                        $('#user-message').focus();
                    }
                });
            });

            // To show the user message in the interface in a separate container
            function displayUserMessage(user,userMessage) {
                var messageContainer = $('#message-container');
                var userMessage = $('<div class="message user-message"><strong>'+ user+':</strong> ' + userMessage + '</div>');
                messageContainer.append(userMessage);
            }

            // To show the bot response in the interface in a separate container
            function displayBotMessage(botText) {
                var messageContainer = $('#message-container');
                var botMessage = $('<div class="message bot-message"><strong>ChatUPM:</strong> ' + botText + '</div>');
                messageContainer.append(botMessage);
                messageContainer.scrollTop(messageContainer[0].scrollHeight);
            }

            $('#user-message').focus();
        });
    </script>
</head>
<body>
  <div class="space-64"></div>
  <div class="space-64"></div>
  <div class="chatbot-container">
    <div class="logo-container">
      <a href="."><img class="logo-chatupm-ps" src="../static/media/chatupm-logo-PS.png" alt="logo chatupm"></a>
    </div>
    <div class="space-16"></div>
    <div class="container" id="message-container">
        <div class="message bot-message"><strong>ChatUPM:</strong> ¡Bienvenid@ al chat de la UPM! 🎓 ¿Tienes alguna duda sobre la normativa de alumnos?</div>
        <!-- Messages will be dynamically added here -->
    </div>
    <div class="space-8"></div>
    <form id="chat-form">
        <p style="text-align: center; width: 44%"><strong>Escribe aquí tu consulta:</strong></p>
        <input type="text" id="user-message" placeholder="¿Cuántos créditos necesito para que no me echen de la UPM?" required>
        <input type="submit"id = "send" value="Enviar">
    </form>
    <div class="space-64"></div>
  </div>
</body>
</html>
